<ng-container *ngIf="viewModel">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <p class="lead">Create Flight</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- <admin-flight-connection-card [viewModel]="viewModel.connection" />
        <admin-flight-times-card [viewModel]="viewModel.times" />
        <admin-flight-operator-card [viewModel]="viewModel.operator" /> -->
        <button class="btn btn-primary" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</ng-container>
