<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Price</h5>
    <form #flightPriceForm="ngForm">
      <div class="mb-3">
        <label for="basePrice" class="form-label">Base Price</label>
        <input class="form-control" type="number" id="amount" name="basePrice" [ngModel]="viewModel?.basePrice()" (ngModelChange)="viewModel?.basePrice?.patch($event)">
      </div>
      <div class="mb-3">
        <label for="seatReservationSurcharge" class="form-label">Seat Reservation Surcharge</label>
        <input class="form-control" type="number" id="amount" name="seatReservationSurcharge" [ngModel]="viewModel?.seatReservationSurcharge()" (ngModelChange)="viewModel?.seatReservationSurcharge?.patch($event)">
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div>
      <button *ngIf="canUpdate" class="btn btn-primary mb-3" (click)="save()">Save</button> 
      <button *ngIf="canUpdate" class="btn btn-secondary mb-3" (click)="reset()">Reset</button>
    </div>
    <pre>
Patchable FlightEditVm.price Signal
----------------------------------------
{{ viewModel?.() | json }}
    </pre>
    <div *ngIf="showSuccess" class="alert alert-success">
      Successfully Saved!
    </div>
    <div *ngIf="showError" class="alert alert-danger">
      Error on saving!
    </div>
  </div>
</div>
