<div class="d-flex flex-column h-100">
  <nav class="navbar navbar-expand-sm bg-body-tertiary" *ngIf="rootVm$ | async as rootVm">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{title}}</a>
      <div class="navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          <a class="nav-link active" [routerLink]="['flight/search', rootVm._links?.['flightSearchVm']?.href]">Flight Search</a>
          <a class="nav-link active" routerLink="passenger/search">Passenger Search</a>
        </div>
      </div>
    </div>
    <div class="navbar-nav px-3">
      <div class="nav-item" *ngIf="!currentUserInfo">
        <button class="btn btn-secondary" (click)="logIn()">Login</button>
      </div>
      <div class="nav-item" *ngIf="currentUserInfo">
        <button class="btn btn-info text-nowrap" (click)="logOut()">
          Logout <span class="badge text-bg-light">{{currentUserInfo.name}}</span>
        </button>
      </div>
    </div>
  </nav>
  
  <div class="container h-100 overflow-x-auto pt-4">
      <router-outlet></router-outlet>
  </div>
</div>
