<ng-container *ngIf="viewModel()">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <p class="lead">Flight Edit</p>
        <p>Current Route: {{ flightRoute() }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-8">
        <admin-flight-connection-card [viewModel]="viewModel.connection"/>
        <admin-flight-times-card [viewModel]="viewModel.times"/>
        <admin-flight-operator-card [viewModel]="viewModel.operator"/>
        <admin-flight-price-card [viewModel]="viewModel.price"/>
      </div>
      <div class="col col-4">
<pre>
Patchable FlightEditVm Signal
-----------------------------
{{ viewModel() | json }}
</pre>
      </div>
    </div>
  </div>
</ng-container>