<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Operator</h5>
    <form #flightOperatorForm="ngForm">
      <!-- Issue with propery with the name 'name' -->
      <!-- <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input class="form-control" id="name" name="name" [ngModel]="viewModel?.name()" (ngModelChange)="viewModel?.name?.patch($event)">
      </div> -->
      <div class="mb-3">
        <label for="shortName" class="form-label">Short Name</label>
        <input class="form-control" id="shortName" name="shortName" [ngModel]="viewModel?.shortName()" (ngModelChange)="viewModel?.shortName?.patch($event)">
      </div>
      <div class="mb-3">
        <label for="seatCount" class="form-label">Seat Count</label>
        <input class="form-control" type="number" id="seatCount" name="seatCount" [ngModel]="viewModel?.seatCount()" (ngModelChange)="viewModel?.seatCount?.patch($event)">
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div>
      <button *ngIf="canUpdate" class="btn btn-primary mb-3" (click)="save()">Save</button> 
      <button *ngIf="canUpdate" class="btn btn-secondary mb-3" (click)="reset()">Reset</button>
    </div>
    <pre>
Patchable FlightEditVm.operator Signal
----------------------------------------
{{ viewModel?.() | json }}
    </pre>
    <div *ngIf="showSuccess" class="alert alert-success">
      Successfully Saved!
    </div>
    <div *ngIf="showError" class="alert alert-danger">
      Error on saving!
    </div>
  </div>
</div>
