<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Connection</h5>
    <form #flightConnectionForm="ngForm">
      <div class="mb-3">
        <label for="from" class="form-label">From</label>
        <input class="form-control" id="from" name="from" [(ngModel)]="viewModel.from">
      </div>
      <div class="mb-3">
        <label for="to" class="form-label">To</label>
        <input class="form-control" id="to" name="to" [(ngModel)]="viewModel.to">
      </div>
      <div class="mb-3">
        <label for="icaoFrom" class="form-label">ICAO From</label>
        <input class="form-control" id="icaoFrom" name="icaoFrom" [(ngModel)]="viewModel.icaoFrom">
      </div>
      <div class="mb-3">
        <label for="icaoTo" class="form-label">ICAO To</label>
        <input class="form-control" id="icaoTo" name="icaoTo" [(ngModel)]="viewModel.icaoTo">
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button *ngIf="viewModel.update" class="btn btn-primary mb-3" (click)="save()">Save</button>
    <div *ngIf="showSuccess" class="alert alert-success">
      Successfully Saved!
    </div>
    <div *ngIf="showError" class="alert alert-danger">
      Error on saving!
    </div>
  </div>
</div>
