<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Times</h5>
    <form #flightOperatorForm="ngForm">
      <div class="mb-3">
        <label for="takeOff" class="form-label">Take Off</label>
        <input class="form-control" type="datetime" id="takeOff" name="takeOff" [ngModel]="viewModel?.takeOff()" (ngModelChange)="viewModel?.takeOff?.patch($event)">
      </div>
      <div class="mb-3">
        <label for="landing" class="form-label">Take Off</label>
        <input class="form-control" type="datetime" id="landing" name="landing" [ngModel]="viewModel?.landing()" (ngModelChange)="viewModel?.landing?.patch($event)">
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div>
      <button *ngIf="canUpdate" class="btn btn-primary mb-3" (click)="save()">Save</button> 
      <button *ngIf="canUpdate" class="btn btn-secondary mb-3" (click)="reset()">Reset</button>
    </div>
    <pre>
Patchable FlightEditVm.times Signal
----------------------------------------
{{ viewModel?.() | json }}
    </pre>
    <div *ngIf="showSuccess" class="alert alert-success">
      Successfully Saved!
    </div>
    <div *ngIf="showError" class="alert alert-danger">
      Error on saving!
    </div>
  </div>
</div>
